:root{
  --clr-dark: 200 20% 8%;
  --clr-yellow-saturated: 60 30% 70%;
  --clr-yellow: 60 80% 60%;
}

*{
  box-sizing: border-box;
  margin: 0;
  cursor: default;
}

/* ----------------- */
/* ----CSS Reset---- */
/* ----------------- */

body{
  min-height: 100vh;
  font-family: 'Nunito', sans-serif;
  line-height: 1.6;
  background-color: hsl(var(--clr-dark)); /* dark color */
  color: hsl(var(--clr-yellow-saturated)); /* text color */

}

img{
  width: 100%;
  display: block;
  max-width: 600px;
}

a{
  color: inherit;
  cursor: pointer;
}

a:hover{
  color: hsl(0 0% 100%);
}

strong{
  font-weight: 900;
  font-size: 1.1em;

}

label{
  display: block;
  margin-bottom: 1.2rem;
}

button,
select,
option,
input{
  font: inherit;
  cursor: pointer;
}

/* ----------------- */
/* -Utility Classes- */
/* ----------------- */

/* ------flex------- */
.flex{
  display: flex;
  flex-direction: column;
}

.flex>*{
  width: 100%;
}

/* -Header- */

header{
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  box-shadow: 0 0 8px hsl(var(--clr-yellow-saturated)/0.3)
}

.logo{
  font-weight: 900;
  letter-spacing: -2px;
  color: hsl(var(--clr-yellow));
}

/* --Main section-- */

main{
  max-width: 900px;
  margin-inline: auto;
  padding: 1rem;
}

/* info section */

.info{
  text-align: center;
}

.info strong{
  color: hsl(var(--clr-yellow));
}

.info__illustration{
  margin-bottom: 1rem;
}

.info__illustration>a{
  display: block;
  text-align: center;
  font-size: .8rem;
  margin-top: -3rem;
}

/* form section */

.form{
  border: double .5rem hsl(var(--clr-yellow-saturated));
  padding: 1.5em;
  border-radius: .25rem;
}

.form__label{
  font-weight: 700;
  font-size: 1.2rem;
}

.form__label:hover{
  color: hsl(var(--clr-yellow));
}

.form__input{
  font-size: 1.2rem;
  font-weight:700;
  border: none;
  padding: .25rem .8rem;
  border-radius: .2rem;
  width: 60%;
  min-width: 200px;
  background-color: hsl(var(--clr-yellow-saturated));
}

.form__input:focus{
  background-color: hsl(var(--clr-yellow));
}

.form__input option{
  background-color: hsl(var(--clr-yellow-saturated));
}

.form__btn{
  font-size: 1.2rem;
  padding: .25rem 1.5rem;
  border-radius: .3rem;
  font-weight: 700;
  background-color: hsl(var(--clr-yellow));
  transition: all 0.3s ease-in-out;
}

.form__btn:hover{
  box-shadow: inset 2px 2px 6px hsl(0 0% 10%/0.6) ;
}

.form__btn:active{
  transform: scale(0.9);
}

/* Image Preview */
.image-preview{
  border: solid 1px red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-preview__btns{
  display: flex;
  border: solid 2px yellow;
  width: 70%;
  justify-content: flex-end;
  padding: .5rem 1rem;
  margin-bottom: 2rem;
  gap: .5rem
}

.image-preview__timer{
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: bold;
}

.image-preview__image{
  max-height: 80vh;
  width: auto;
  max-width: 100%;
  border: solid 4px hsl(0 0% 12%);
}


@media (min-width: 600px) {
  .info{
    text-align: left;
  }

  .flex{
    display: flex;
    flex-direction: row;
  }
}
